<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Appium">

    <test name="Medium Tablet">
        <classes>
            <class name="org.akavity.WBTest">
                <methods>
                    <include name="moveThroughCatalog"/>
                    <include name="lookForTheProduct"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
